NODE_ENV=development
JWT_SECRET=change-me
MONGO_URI=mongodb://mongo:27017/notecms
API_PORT=4000
WEB_PORT=5173
ASSET_STORAGE_DRIVER=local
ASSET_LOCAL_ROOT=./data/assets
ASSET_MAX_UPLOAD_BYTES=10000000
